<!DOCTYPE html>
<html lang="ru"> <!-- Set the language of the document -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить языковой навык</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Link to your CSS file if needed -->
</head>
<body>
   <nav>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'language_skill_list' %}">Список навык</a></li>
            <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
            <li style="margin-left: auto; color: white; background-color: #45a049;border-radius: 4px;">
                <p>Пользователь: {% if request.user.is_authenticated %}<br>{{ request.user.username }}{% else %}Гость{% endif %}</p>
            </li> <!-- Exibe o nome do usuário conectado -->
        </ul>
    </nav>

    <div class="container">
        <h1>Добавить языковой навык</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="native_language">Родной язык:</label>
                <input type="text" id="native_language" name="native_language" required>
            </div>
            <div class="form-group">
                <label for="proficiency_level">Уровень владения:</label>
                <input type="text" id="proficiency_level" name="proficiency_level" required>
            </div>
            <button type="submit">Добавить навык</button>
        </form>
    </div>
</body>
</html>